body {
	background: rgb(84,201,50);
	background: linear-gradient(90deg, rgba(84,201,50,1) 0%, rgba(9,121,111,1) 23%, rgba(255,255,255,1) 93%); 
}
.opaque {
	opacity: 0.4;
}
.button-nav
{
	color: rgb(0, 0, 0);
	font-family: arial;
	font-weight: bold;
	font-size: 100%; 
	
	background-color: grey;
	box-shadow: 2px 2px #405203;
	width: 95%;
	height: 30px;
	
	border-radius: 6px;
	border-color: #000000;
	
	opacity: 0.2;
}
.button-nav-select
{
	color: rgb(0, 0, 0);
	font-family: arial;
	font-weight: bold;
	font-size: 100%; 
	
	background-color: grey;
	box-shadow: 2px 2px #405203;
	width: 95%;
	height: 30px;
	
	border-radius: 6px;
	border-color: #000000;
	
	opacity: 0.8;
	
}

.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.rowDatosPersonales{
	text-align:center; 
	border-radius: 0%;
}

.footerStyle{

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: grey;
	
	border-radius: 6px 6px 6px 6px;
}




.fondo {         
	background: rgb(84,201,50);
	background: linear-gradient(90deg, rgba(84,201,50,1) 0%, rgba(9,121,111,1) 23%, rgba(255,255,255,1) 93%); 
}
.beta {
  color: $yellow-300;
  background-color: $indigo-900;
}
